{% extends 'base.html.twig' %}

{% block title %}Meilleurs scores{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block head %}
	<meta http-equiv="refresh" content="15" />
{% endblock %}

{% block body %}
	<div class="main main-list">
		<div id="list-container">
			{% if liste %}
				{% for student in liste %}
					<div class="list">
						<div class="list-item">#{{ loop.index }}</div>
						<p class="list-content">{{ student.fancy_name }} - {{ student.score }} points - {{ student.type_eple }} {{ student.nom_eple }} - {{ student.user_class }}</p>
					</div>
				{% endfor %}
			{% else %}
				<p>Il n'y a aucune participation pour le moment</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
